* {
    margin: 0;
    padding: 0;

}
body{
    font-family:Arial, Helvetica, sans-serif ;
}
#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;    
}
.navbar {
    background-image: linear-gradient(to right, #fff,#fff);
    margin-left:10px ;
    margin-right: 50px;
    
    
}


.navbar-brand img{
    height: 50px;
}
.navbar-nav li {
    margin-left: 30px;
    font-weight:300;
    color: black !important;
    
}
.nav-left li {
    margin-left: 10px;
}
.nav-left li span {
    font-size: 20px;
    margin: 0 0 0 -16.3px;
}
.header{
    background-image: linear-gradient(to right, #fff,#fff);
    height: 90vh;

}
.btn {
    font-size: 12px !important;
    font-style: bold;
    padding:10px 23px ;
    background-color: #197EEF;
    color: white;
    border: none !important;
    border-radius: 5px !important;
}
/*********** HEADER********/

#banner {
    background-image: linear-gradient(to right, #fff,#fff);
    height: 90vh;
    
}

.banner-text{
margin-top: 30%;
justify-content: center;
align-items: center;
}
.banner-text h1 {
    font-size: 50px;
    font-weight:500;
}
.banner-text p {
    margin-right: 50px;
}

.banner-img {
    display: absolute ;
     padding-top: 75px;  
    height: 650px;
    min-height: 100%;
    
}
.banner-btn .btn {   
    margin-top: 50px;
    font-size: 16px !important;
    font-weight: bold;
    padding: 15px 30px !important;
    }
.banner-btn .start-messaging {
    background-color: #fff;
    color: rgb(64, 64, 64);
    border: 1px solid black !important;
    margin-left: 30px;
    }

    /******** trusted by section********/
    .trusted-banner {
        padding: 50px 0 !important;        
        background-image: linear-gradient(to right, #ebedee,#ebedee);
    }
    .trusted-banner p {
        text-align: center;
        font-size: 20px;
    }
    .row {
        justify-content: center;       
        align-items: center;
    }
    /********* services**********/
    #services{ 
        text-align: center;
        margin: 100px 20px !important;
        

    }
    #services h2{
        text-align: center;
        margin: 100px 0px !important;
    }
    .icon {
        text-align: center;        
        font-size: 30px;
        width: 65px;
        height: 65px;
        background-color: #197EEF;
        border-radius: 15px;
        align-content: left;
        margin-bottom: 30px;
        
    }
    .icon i {
        margin-top: 15px;
        color: white;        
    }
    
    .services .col-md-3 {
        padding-right: 50px;      
    }
    .services h3{
        text-align: left;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .services p {
        text-align: left;
        font-size: 16px;
        
    }
    /********* section *********/
    .channels {
        padding-left: 70px;
        background-color: #0d253f;
    }
    .channels h3 {
        color: #fff !important;
        margin: 30px 10px;
        font-size: 40px;
    }

    .channels p {
        color: #fff !important;
    }